$darkBlue: #212353;

.wrapper {
  min-height: 100%;
  overflow: hidden;
  height: 3000px;
  background-color: #e5e5e5;
}

.container {
  max-width: 1260px;
  margin: auto;
  padding: 0 15px;
}

.main__title {
  max-width: 463px;
  display: inline-block;
  padding-top: 60px;
  font-family: 'Montserrat-Bold', sans-serif;
  font-size: 58px;
  line-height: 110%;
  color: $darkBlue;
}

.section {
  max-width: 830px;
  padding: 0 15px;
  margin: auto;
}

.comments {
  margin-top: 110px;
  &__title {
    text-align: center;

    font-family: 'Montserrat-Bold';

    font-size: 32.9px;

    color: #212353;
  }

  &__item {
    display: flex;
    flex-direction: column;
  }

  &__wrapp {
    display: flex;
    justify-content: space-between;
    margin-top: 55px;
  }
}

.coders {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 92px;
  &__title {
    font-family: 'Montserrat-Bold';
    font-size: 33px;
    color: #212353;
  }
}
