$darkBlue: #212353;

.wrapper {
  min-height: 100%;
  overflow: hidden;
  background-color: #e5e5e5;
  padding: 0 0 30px 0;
}

.container {
  max-width: 1260px;
  margin: auto;
  padding: 0 15px;
}

@media (max-width: 1230px) {
  .container {
    max-width: 970px;
  }
}

@media (max-width: 992px) {
  .container {
    max-width: 750px;
  }
}

.main__title {
  max-width: 463px;
  display: inline-block;
  padding-top: 60px;
  font-family: 'Montserrat-Bold', sans-serif;
  font-size: 58px;
  line-height: 110%;
  color: $darkBlue;
}

@media (max-width: 1230px) {
  .main__title {
    max-width: none;
    display: block;
    text-align: center;
  }
}

.section {
  max-width: 830px;
  padding: 0 15px;
  margin: auto;
}

.comments {
  margin-top: 110px;
  &__title {
    text-align: center;

    font-family: 'Montserrat-Bold';

    font-size: 32.9px;

    color: #212353;
  }

  &__wrapp {
    display: flex;
    justify-content: space-between;
    margin-top: 55px;
  }
}

@media (max-width: 1200px) {
  .comments {
    margin-top: 70px;
  }
}

.coders {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 92px;
  &__title {
    font-family: 'Montserrat-Bold';
    font-size: 33px;
    color: #212353;
    margin-bottom: 50px;
  }
}

.footer {
  display: flex;
  justify-content: center;
  text-align: center;
}
