$darkBlue: #212353;

.wrapper {
  min-height: 100%;
  overflow: hidden;
  height: 1000px;
  background-color: #e5e5e5;
}

.container {
  max-width: 1260px;
  margin: auto;
  padding: 0 15px;
}

.main__title {
  max-width: 463px;
  display: inline-block;
  padding-top: 60px;
  font-family: 'Montserrat-Bold', sans-serif;
  font-size: 58px;
  line-height: 110%;
  color: $darkBlue;
}
