@font-face {
  font-family: 'Montserrat-Bold';
  src: url('../fonts/Montserrat-Bold.eot');
  src: local('0'), url('../fonts/Montserrat-Bold.woff') format('woff'),
    url('../fonts/Montserrat-Bold.ttf') format('truetype'),
    url('../fonts/Montserrat-Bold.svg') format('svg');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'Montserrat-ExtraLight';
  src: url('../fonts/Montserrat-ExtraLight.eot');
  src: local('0'), url('../fonts/Montserrat-ExtraLight.woff') format('woff'),
    url('../fonts/Montserrat-ExtraLight.ttf') format('truetype'),
    url('../fonts/Montserrat-ExtraLight.svg') format('svg');
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: 'Montserrat-Italic';
  src: url('../fonts/Montserrat-LightItalic.eot');
  src: local('0'), url('../fonts/Montserrat-LightItalic.woff') format('woff'),
    url('../fonts/Montserrat-LightItalic.ttf') format('truetype'),
    url('../fonts/Montserrat-LightItalic.svg') format('svg');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat-Regular';
  src: url('../fonts/Montserrat-Regular.eot');
  src: local('0'), url('../fonts/Montserrat-Regular.woff') format('woff'),
    url('../fonts/Montserrat-Regular.ttf') format('truetype'),
    url('../fonts/Montserrat-Regular.svg') format('svg');
  font-weight: 400;
  font-style: normal;
}
